[Unit]
Description=runs dispatch.py as a service, minutely
After=multi-user.target

[Timer]
OnCalendar=*-*-* *:*:00

[Service]
Type=idle
User=duffy
Group=duffy
WorkingDirectory=/srv/duffy2
ExecStart=/srv/duffy2-venv/bin/python /srv/duffy/src/dispatch.py

[Install]
WantedBy=multi-user.target
