[tool.poetry]
name = "duffy"
version = "3.0.0"
description = "CentOS CI provisioner"
authors = ["Nils Philippsen <nils@redhat.com>", "Vipul Siddharth <siddharthvipul1@gmail.com>", "Akashdeep Dhar <akashdeep@redhat.com>", "Ben Capper <bcapper@redhat.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.70.0"
SQLAlchemy = "^1.4.25"
click = "^8.0.3"
uvicorn = "^0.15.0"
PyYAML = "^6.0"
alembic = "^1.7.5"
ipython = {version = "^7.29.0", optional = true}

[tool.poetry.dev-dependencies]
black = "^21.9b0"
isort = "^5.9.3"
pytest = "^6.2.5"
pytest-black = "^0.3.12"
pytest-cov = "^3.0.0"
pytest-flake8 = "^1.0.7"
pytest-isort = "^2.0.0"
tox = "^3.24.4"
fastapi = {version = "^0.70.0", extras = ["test"]}
flake8 = "^3.9.2"
pytest-asyncio = "^0.16.0"
httpx = "^0.18.2"

[tool.poetry.extras]
interactive = ["ipython"]

[tool.pytest.ini_options]
addopts = "--black --cov-config .coveragerc --cov=duffy --cov-report term --cov-report xml --cov-report html --flake8 --isort"
flake8-max-line-length = 100

[tool.isort]
line_length = 100
profile = "black"

[tool.black]
line-length = 100

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
duffy = "duffy.cli:cli"
