[tool.poetry]
name = "duffy"
version = "3.0.0a3"
description = "CentOS CI provisioner"
authors = ["Nils Philippsen <nils@redhat.com>", "Vipul Siddharth <siddharthvipul1@gmail.com>", "Akashdeep Dhar <akashdeep@redhat.com>", "Ben Capper <bcapper@redhat.com>"]
license = "MIT"
maintainers = ["Nils Philippsen <nils@redhat.com>", "Vipul Siddharth <siddharthvipul1@gmail.com>", "Akashdeep Dhar <akashdeep@redhat.com>", "Ben Capper <bcapper@redhat.com>"]
readme = "README.md"
homepage = "https://github.com/CentOS/duffy"
repository = "https://github.com/CentOS/duffy"
documentation = "https://github.com/CentOS/duffy/wiki"
keywords = ["baremetal", "ci", "vm", "opennebula", "centos"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: Ansible",
    "Framework :: AsyncIO",
    "Framework :: Celery",
    "Framework :: FastAPI",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: POSIX :: Linux",
    "Topic :: Internet :: WWW/HTTP :: WSGI :: Application",
    "Topic :: Software Development :: Build Tools",
    "Topic :: Software Development :: Quality Assurance",
    "Topic :: Software Development :: Testing",
    "Topic :: System :: Monitoring",
    "Topic :: System :: Operating System",
]

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.70.0"
SQLAlchemy = {version = "^1.4.25", extras=["asyncio"]}
click = "^8.0.3"
uvicorn = "^0.15.0"
PyYAML = "^6.0"
alembic = "^1.7.5"
ipython = {version = "^7.29.0", optional = true}
psycopg2 = {version = "^2.9.2", optional = true}
asyncpg = {version = "^0.25.0", optional = true}
celery = {version = "^5.2.1", extras = ["redis"]}
httpx = {version = "^0.18.2", optional = true}
bcrypt = "^3.2.0"
ansible = {version = "^5.2.0", optional = true}
ansible-core = {version = "^2.12.1", optional = true}
ansible-runner = {version = "^2.1.1", optional = true}
Jinja2 = {version = "^3.0.3", optional = true}
jmespath = {version = "^0.10.0", optional = true}
pottery = {version = "^3.0.0", optional = true}
pyone = {version = "^6.2.2", optional = true}

[tool.poetry.dev-dependencies]
black = "^21.9b0"
isort = "^5.9.3"
pytest = "^6.2.5"
pytest-black = "^0.3.12"
pytest-cov = "^3.0.0"
pytest-flake8 = "^1.0.7"
pytest-isort = "^2.0.0"
tox = "^3.24.4"
fastapi = {version = "^0.70.0", extras = ["test"]}
flake8 = "^3.9.2"
pytest-asyncio = "^0.16.0"
httpx = "^0.18.2"
ansible = "^5.2.0"
ansible-core = "^2.12.1"
ansible-runner = "^2.1.1"
Jinja2 = "^3.0.3"
jmespath = "^0.10.0"
pottery = "^3.0.0"

[tool.poetry.extras]
interactive = ["ipython"]
postgresql = ["psycopg2", "asyncpg"]
tasks = ["ansible-runner", "ansible-core", "ansible", "Jinja2", "jmespath", "pottery"]
opennebula = ["pyone"]
legacy = ["httpx"]

[tool.pytest.ini_options]
addopts = "--black --cov-config .coveragerc --cov=duffy --cov-report term --cov-report xml --cov-report html --flake8 --isort"
flake8-max-line-length = 100

[tool.isort]
line_length = 100
profile = "black"

[tool.black]
line-length = 100

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
duffy = "duffy.cli:cli"
