[Unit]
After=network.target

[Service]
User=duffy
Group=duffy
# Adjust the path of the `duffy` executable in your virtual environment
ExecStart=/path/to/duffy-virtualenv/bin/duffy -c /etc/duffy-config.yaml worker -B --schedule-filename /var/lib/duffy-schedule

[Install]
WantedBy=default.target
# Comment out the following line if the `duffy-tasks.service` and `duffy-app.service` are NOT running on the same machine
RequiredBy=duffy-app.service
